html {
  scroll-behavior: smooth;
}

body{
    background-image: url("BG.jpg");
    background-attachment: fixed;
    width: 100%; 
}
h1{
    font-family: serif;
    color: white;
     font-size: 50PX;
}
H4{
    font-family: serif;
    color: white;
    font-size: 25PX;
}
#top{
     width: 100%; 
     height: 55px;
     background-color: black;
     border-bottom: 1px solid blue;
     overflow: hidden;
     position: fixed;
     top:0;
     left:0;
     z-index: 1000;
}
#container-main{  
    width: 100%; 
    height: 90%; 
    font-size: 30px; 
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left:0;
    top:55px;
    z-index: -1;
    
}
#container{  
    width: 100%; 
    height: 100px; 
    font-size: 30px; 
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left:0;
    top:0px;
    z-index: 1000;
    
}

#container2{  
    top: 780px;
    width: 100%;
    left: 0;
    height: 800px;
    background-color: aliceblue;
    position: absolute;
    z-index: -1;
    border-top: 1px solid blue;
    
}
#container21{
    top: 780px;
    width: 100%;
    left: 0;
    height: 40px;
    background-color: aliceblue;
    position: absolute;
    z-index: -1;
}
#container3{  
    top: 1580px;
    width: 100%;
    left: 0;
    height: 500px;
    filter: opacity(1);
    position: absolute;
    z-index: -1;
    background-image: url("BG2.jpg");
    background-attachment: fixed;
    border-top: 1px solid blue;
}
#container31{  
    top: 0px;
    width: 100%;
    left: 0;
    height: 500px;
    background-color: black; 
    filter: opacity(0.6);
    position: absolute;
    z-index: 1000;
}

#container4{  
    top: 2080px;
    width: 100%;
    left: 0;
    height: 800px;
    background-color: aliceblue;
    position: absolute;
    z-index: -1;
    border-top: 1px solid blue;
}
#container4-2{
    top: 780px;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
}

#Contact{
    border-top: 1px solid blue;
    top:50px;
    height:200px;
    width:100%;
    z-index:-1;
    position:absolute;
    overflow: hidden;
    bottom: 100px;
    background-image: url("Contact.png");
    background-attachment: fixed;   
}
#ContactUs{
    width:100%;
    z-index: 1000;
    top:0px;
    position: absolute;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
    
}

#footer_Nav
{
    filter: opacity(1);
    text-decoration: none;
    z-index: 1000;
    color:blue;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    
}
#footer_Nav1
{
    filter: opacity(1);
    text-decoration: none;
    z-index: 1000;
    color:blue;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    
}

ul {
    filter: opacity(1);
    text-decoration: none;
    z-index: 1000;
    color:white;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    position: absolute;
    top: 10;
    width: 100%;
   
}
#FNav
{
    float: right;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 35px;
    
}
#FSNav{
  font-size: 18px;
}
#TNav{
    float: right;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 35px;
    z-index: 10000;
    background-color: black;
    left:0px;
    height: 50px;
    border-bottom: 0.005px solid blue;
    background: rgba(0, 0, 0, 0.5);    
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom: 2px solid blue;
}

.active {
     border-bottom: 2px solid blue;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 260px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid blue;
}

#myBtn:hover {
  background-color: #555;
}


#getStarted{
    color: #fff;
    cursor: pointer;
    display: block;
    left:220px;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    height:120px;
    width:190px;
    font-size: 30px;
    border-radius: 6em;
    font-family: Stencil Std;
}

#getStarted:hover{
    color: #000 !important;
    border-radius: 6em;
    background-color: transparent;
    text-shadow: none;
}
#getStarted:hover:before{
    bottom: 0%;
    top: auto;
    border-radius: 6em;
    height: 100%;
}
#getStarted:before{
    display: block;
    border-radius: 6em;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}




.button {
    border: 2px solid #2e2e2e;
    cursor: pointer;
    letter-spacing: 0.2125rem;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 
        background 5s cubic-bezier(0.19, 1, 0.22, 1),
        border 1s cubic-bezier(0.19, 1, 0.22, 1),
        color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
}

.button a {
    color: #969696;
    font-family: "Varela Round";
    text-decoration: none;
}

.button .mask {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
}

.button .shift {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
    transition: background 0s;
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background-color: #fff;
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
    transform: translateX(5px);
}

.button:active {
    background-color: #fff;
}

.button:active a {
    color: #202020;
}

body.show {
    background-color: #282828;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#log {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:500px;
    border: 1px solid blue;
    z-index:1000;
    font-family: Times, Times New Roman, serif;
}

#frame1{
    
    height:550px;
    width: 1400px;
    border: 2px solid red;
}

#username:hover, #password:hover
{
    border: 1px solid blue;
}







.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}

body.show {
    background-color: #282828;
}

.menu > li {
    display: block;
    float: right;
    position: relative;
}

.menu a {
    color: white;
    text-align: center;
    display: block;
    
    font-size: 18px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
}


/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}

.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    background-color: black;
    border: 0.1px solid blue;
    color: blue;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


